table {
	border-collapse: collapse;
}

.board td {
	width: 16px;
	height: 20px;
	border: 1px solid #ccc;
}

.tileSea {
	background-color: #3547BD;
	/*background-image: url('../img/water-small.png');*/
}

.tileLand {
	background-color: #6fb07f;
	/*background-image: url('../img/grass-small.png');*/
}

.tile0 {
	background-color: black;
}

.tile1 {
	background-color: #fcb03c;
}

.tile2 {
	background-color: #fc5b3f;
}